@import "partials/variables";
@import "partials/articlesfeed";
@import "partials/article";
@import "partials/signup";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding : 0;
}

.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  z-index: 9999;

  img {
    height: $navbarHeight - 16px;
    margin: 8px 10px;
  }

  .fixed {
    position: fixed;
  }

  span {
    display: flex;
    justify-content: center;

    a {
      display: flex;
      justify-content: center;
    }
  }
}

.underNavbar{
  padding-top: $navbarHeight;
}


/* Sidenav */
.sidenavFixed {
  @include calc(height, "100vh - #{$navbarHeight}");
  position: fixed;  
}

.rightOfSidenav {
  background-color: #ffffff;
  height: 100%;
}

.md-sidenav-left {
  height: 100%;
}

.sidenavRow {
  padding: 10px 25px;
  width: 100%;
  text-align: left;
  border-radius: 0px;

  img {
    max-width: 30px;
    margin-right: 20px;
    vertical-align: middle;
  }

  span {
    vertical-align: middle;
  }
}

.sidenavAllTopics {
  padding: 10px;
  background-color: #f5f5f5;
}

.sidenavTopic {
  width: 100%;
  font-size: 80%;
  padding: 1px;
  padding-left: 20%;
  padding-right: 20%;
  text-align: left;

  md-checkbox {
    margin: 0px;
    text-transform: none;
  }
}

.sidenavUser {
  background-color: #e75f5b;
  min-height: 150px;
}

.sidenavUserpic{
    border-radius: 10px;
    width:35%;
    margin-top:25%;
    margin-left: 25px;
}

.sidenavUserTitle
{
    font-size: 14pt;
    font-weight:bold;
    padding:5px;
    display:block;
    color:white;
    padding-left: 30px;
}

$swift-ease-in-duration: 0.3s !default;
$swift-ease-in-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2) !default;
$swift-ease-in: all $swift-ease-in-duration $swift-ease-in-timing-function !default;

.leftPadding {
  padding-left: 304px;
  transition: padding-left $swift-ease-in-duration $swift-ease-in-timing-function;
}

.noLeftPadding {
  padding-left: 0px;
  transition: padding-left $swift-ease-in-duration $swift-ease-in-timing-function;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Login button */
#loginBtn, .signupBtn {
  background-color: rgb(231, 95, 91);
  color: white;
  text-transform: none;
}

#loginBtn[disabled], .signupBtn[disabled] {
  background-color: transparent;
  color: gray;
}

#loginDialog, .signUpDialog {
  margin: 0 auto;
  max-width: 80%;
  background: #ebebeb;
  background: -moz-linear-gradient(-45deg,  #ebebeb 0%, #ebebeb 50%, #e5e5e5 51%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ebebeb), color-stop(50%,#ebebeb), color-stop(51%,#e5e5e5), color-stop(100%,#e5e5e5));
  background: -webkit-linear-gradient(-45deg,  #ebebeb 0%,#ebebeb 50%,#e5e5e5 51%,#e5e5e5 100%);
  background: -o-linear-gradient(-45deg,  #ebebeb 0%,#ebebeb 50%,#e5e5e5 51%,#e5e5e5 100%);
  background: -ms-linear-gradient(-45deg,  #ebebeb 0%,#ebebeb 50%,#e5e5e5 51%,#e5e5e5 100%);
  background: linear-gradient(135deg,  #ebebeb 0%,#ebebeb 50%,#e5e5e5 51%,#e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#e5e5e5',GradientType=1 );
}

.login-create-account {
  float: right;
  color: white;
  margin-right: 10%;
  margin-top: 5px;
}

.login-create-account a {
  color: rgb(231, 95, 91);
  text-decoration: none;
}

md-input-container.md-input-focused label {
  font-weight: bold;
  font-size: 1.5em;
}

div.md-dialog-container {
  background-color: rgba(15, 15, 15, 0.8);
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 90%;
    margin: auto;
  }

  /* Remove the padding we set earlier */
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}

/* Account page */
.accountMain {
    margin-left:35%;
    margin-right:35%;
    padding-top:30px;
    font-size:10px;
    text-align:center;
}

.accountMain #userpic{
    width:100px;
    position:relative;
    border-radius:10px;
}

.accountMain #editPic{
    position:relative;
    top:-100px;
    width:24px;
    height:24px;
}


.accountMain .editPen {
    width:12px;
    height:12px;
}

.accountMain span{
    display:block;
   padding-top:10px;
}

.accountMain div{
    padding-top:40px;
}

/* Account menu */
#accountMenu {
  position: absolute;
    right:5px;
  top:65px;
  max-width: 200px;
  background-color: white;
  color: black;
  padding: 10px;  
  border-radius: 5px;
  font-size:12px;
  border: 1px solid #aaaaaa;
  box-shadow: rgba(200,200,200,0.8) 2px 2px 2px,rgba(200,200,200,0.8) -2px -2px 2px;
  display: none;
  z-index:99999;
}

#accountMenu div{
    cursor: pointer;
    padding-bottom:5px;
    padding-top:5px;
}

#menuTriangle1 {
  content: "";
  position: absolute;
  width: 0; 
  height: 0; 
  right:10px;
  top:55px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #aaaaaa;
  display: none;
  z-index:99999;
}

#menuTriangle2 {
  content: "";
  position: absolute;
  width: 0; 
  height: 0; 
  right:13px;
  top:57px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #ffffff;
  display: none;
  z-index:99999;
}