@import "partials/variables";
@import "partials/articlesfeed";
@import "partials/article";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding : 0;
}

.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 0px;
  z-index: 9999;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }

  img {
    max-height: $navbarHeight - 16px;
    margin: 8px 10px;
  }

  .fixed {
    position: fixed;
  }

  .navbar-right{
    display: inline-block;
    float: right;
  }
}

.underNavbar{
  padding-top: $navbarHeight;
}


/* Sidenav */
.sidenavFixed {
  @include calc(height, "100vh - #{$navbarHeight}");
  position: fixed;
}

.md-sidenav-left {
  height: 100%;
}

.sidenavRow {
  padding: 10px 25px;
  width: 100%;
  text-align: left;
  border-radius: 0px;

  img {
    max-width: 30px;
    margin-right: 20px;
    vertical-align: middle;
  }

  span {
    vertical-align: middle;
  }
}

.sidenavAllTopics {
  padding: 10px;
  background-color: #f5f5f5;
}

.sidenavTopic {
  width: 100%;
  font-size: 80%;
  padding: 1px;
  padding-left: 20%;
  padding-right: 20%;
  text-align: left;

  md-checkbox {
    margin: 0px;
    text-transform: none;
  }
}

.sidenavUser {
  background-color: #e75f5b;
  min-height: 150px;
}

$swift-ease-in-duration: 0.3s !default;
$swift-ease-in-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2) !default;
$swift-ease-in: all $swift-ease-in-duration $swift-ease-in-timing-function !default;

.leftPadding {
  padding-left: 304px;
  transition: padding-left $swift-ease-in-duration $swift-ease-in-timing-function;
}

.noLeftPadding {
  padding-left: 0px;
  transition: padding-left $swift-ease-in-duration $swift-ease-in-timing-function;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Login button */
#loginBtn {
  background-color: rgb(231, 95, 91);
  color: white;
  text-transform: none;
}

#loginDialog {
  background: #ebebeb;
  background: -moz-linear-gradient(-45deg,  #ebebeb 0%, #ebebeb 50%, #e5e5e5 51%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ebebeb), color-stop(50%,#ebebeb), color-stop(51%,#e5e5e5), color-stop(100%,#e5e5e5));
  background: -webkit-linear-gradient(-45deg,  #ebebeb 0%,#ebebeb 50%,#e5e5e5 51%,#e5e5e5 100%);
  background: -o-linear-gradient(-45deg,  #ebebeb 0%,#ebebeb 50%,#e5e5e5 51%,#e5e5e5 100%);
  background: -ms-linear-gradient(-45deg,  #ebebeb 0%,#ebebeb 50%,#e5e5e5 51%,#e5e5e5 100%);
  background: linear-gradient(135deg,  #ebebeb 0%,#ebebeb 50%,#e5e5e5 51%,#e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#e5e5e5',GradientType=1 );
}

md-input-container.md-input-focused label {
  font-weight: bold;
  font-size: 1.5em;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 80%;
    margin: auto;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}
