@charset "UTF-8";
/* Article Screen */
.article {
  width: 100%;
  display: flex;
  flex-direction: column;
  
  p, span {
    margin: 0px;
    padding: 0px;
  }

  img{
    width: 100%;
  }

  .article_content{
    padding: 16px;

    .phrase {  
      display: inline-block;
      font-family: Helvetica, Arial, "Times New Roman", "FangSong", "仿宋", STFangSong, "华文仿宋", serif; 
      text-align: center;
      padding: 2px 4px 2px 0px;     
      
      .hanzi {
        margin-top: -3px;
        font-size: 180%;
      }
      
      .pinyin {
        display: inline-block;  
      }

      inlineDef {
        overflow: hidden;
        height: 1em;
      }

      .showInlineDef {
        display: auto;
      }

      .hiddenInlineDef {
        display: none;
      }
    }
  }
}

.articleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
}

.articleIcons {
  a{
    text-decoration: none;
  }

  i{
    transition: color 0.2s ease;
    width: 50px;
    display: inline-block;
    padding: 0px 10px 20px;
    color: #aaaaaa;
  }

  i:hover{
    color: $kanshu-red;
  }

  i.fa-twitter:hover{
    color: $twitter-blue;
  }

  i.fa-google-plus:hover{
    color: $google-plus-red;
  }

  i.fa-facebook:hover{
    color: $facebook-blue;
  }
}

@media screen and (min-width: 768px) {
  .article {
    padding: 0px;
    width: 700px;
    margin: 40px 20px 40px 70px;  
    flex-direction: column;
    box-shadow: $whiteframe-shadow-z1;
  }

  .articleContainer {
    box-shadow: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 0px;
  }

  .articleIcons{
    padding-top: 40px;
    padding-right: 20px;

    i{ 
      display: block;
    }
  }  
}

/* Dictionary Popover */
#dictionaryPopover {
  position: absolute;
  max-width: 200px;
  background-color: #d4554b;
  color: white;
  padding: 10px;  
  border-radius: 5px;
  display: none;
}

#popoverTriangle1 {
  content: "";
  position: absolute;
  bottom: -12px; /* value = - border-top-width - border-bottom-width */
  left: 0px;
  border: 0;
  border-right-width: 20px; /* vary this value to change the angle of the vertex */
  border-bottom-width: 12px; /* triangle height */
  height: 0px; 
  border-style: solid;
  border-color: transparent #d4554b;
  width: 0;
  display: none;
}

#popoverTriangle2 {
  content: "";
  position: absolute;
  bottom: -12px; /* value = - border-top-width - border-bottom-width */
  left: 0px;
  border: 0;
  border-bottom-width: 12px; /* triangle height */
  border-right-width: 5px; /* vary this value to change the angle of the vertex */
  height: 0px; 
  border-style: solid;
  border-color: transparent #ffffff;
  width: 0;
  display: none;
}