/* Articles Feed */
$card-margin: 8px !default;
$card-padding: 16px !default;
$cardBaseWidth: 350px;

.articlesFeed { 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
}

.articleCard {
  position: relative;
  width: $cardBaseWidth;
  height: 500px;
  overflow: hidden;
  background-color: #ffffff;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.articleCardFade{
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 0;
  left: 0;
  background:-webkit-linear-gradient(top,rgba(255,255,0,0) 0px,#fff 50%,#fff 100%) repeat-x scroll 0 0 transparent; 
  background:linear-gradient(to bottom,rgba(255,255,0,0) 0px,#fff 80%,#fff 100%) repeat-x scroll 0 0 transparent;

}

.articleComments {
  position: relative; 
  width: 100%;
  background-color: #ffffff;
}

.articleCardFooter{
  z-index: 5;
  order: 999;
  width: 100%;
  bottom: 0;
  padding: 15px $card-padding;
  background-color: #ffffff;

  .fa-heart{
    color: $bgHighlight;
  }

  .hearts{
    padding-right: 8px;
  }

  .right{
    position: absolute;
    width: 45%;
    right: $card-padding;
    text-align: right;

    .feed{
      color: $bgHighlight;
      font-weight: bold;
    }
  }
}

.articleCard:hover{
  box-shadow: $whiteframe-shadow-z2;
}

.articleCardContent{
  position: relative;
  height: 275px;
  overflow: hidden;
}



article-comment {
  display: flex;
  flex-direction: row;
  padding: 10px $card-padding;

  .commentContent {
    flex: 1 1 auto;
  }

  .commentUser {
    flex: none;
    align-self: center;  

    .commentUserImage {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      background-color: #cccccc;
      margin-right:20px;
    }
  }

  .right {
    position:absolute;
    right: $card-padding;
  }

  span {
    font-size: 80%;
  }

  p {
    margin: 0px;
    padding-top: 2px;
    line-height: 1.2em;
  }
}

.articleCommentClear {
  clear: both;
  height: 10px;
}

.imageWrapper {
  display: block;
  width: 100%;
  position: relative;
  height: 0;
  padding: 50% 0 0 0;
  overflow: hidden;

  img { 
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
  }
}

md-dialog.selectedArticle {
  width: 35%;
  min-width: $cardBaseWidth;

  .articleImageAndContent {
    flex: 3 0 50vh;

    .articleCardContentItemSelected {
      padding: $card-padding;
      height: 150px;
    }
  }

  md-content{
    flex: 1 3 50vh;
    min-width: 20px;
    order: 2;
    padding: 0;
  }

  .articleCardFooter{
    flex: none;
  }
}

