#language-level {
  display: flex;

  p {
    padding-top: 7px;
    flex: 100;
    text-align: center;
  }

  .hsk-slider {
    width: 70%;
  }

  .md-track-ticks {
    display: none;
  }

  md-slider .md-sign {
    top: -26px;
  }

  md-slider .md-thumb {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

