<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Kanshu, Reading Chinese Should Be This Easy</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="kanshuWebApp" layout="column" layout-fill ng-controller="MainCtrl" ng-click="dismissAll()">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header" role="navigation">
      <md-toolbar class="fixed">
        <div class="md-toolbar-tools">
          <span id="menuButton">
              <a href="" ng-click="toggleSidenav()">
                <img src="images/ic_menu_48px.svg"></img>
              </a>
          </span>
          <span flex></span>
          <span>
            <a href="#/">
              <img src="images/logo_with_text.png"></img>
            </a>
          </span>
          <span flex></span>
          <span>
            <md-button class=md-raised ng-click="showLoginDialog(this, $event)" ng-hide="isLoggedIn" ng-cloak>
                Login
            </md-button>
            <a href="#/" ng-show="isLoggedIn" ng-cloak>
              <img src="images/user.png" ng-click="showUserMenu($event)"></img>
            </a>
          </span>
        </div>
      </md-toolbar>
    </div>
          <section class="underNavbar" layout="row" flex>
              <div class="sidenavFixed">
                  <md-sidenav md-is-locked-open="shouldBeLockedOpen" md-component-id="left" class="md-sidenav-left md-whiteframe-z2">
                      <div ng-controller="LeftSidenavCtrl">
                          <div ng-if="isLoggedIn" class="sidenavUser" ng-click="goTo('account')">
                              <img class="sidenavUserpic" ng-src="{{user.accountData.pic}}" />
                              <span class="sidenavUserTitle">{{user.accountData.firstName}} {{user.accountData.lastName}}</span>
                          </div>
                          <div ng-if="!isLoggedIn" class="sidenavUser">
                          </div>
                          <div ng-repeat="group in rows">
                              <div ng-repeat="item in group">
                                  <md-button class="sidenavRow" ng-click="item.onClick()">
                                      <img ng-src="{{item.src}}"></img>
                                      <span>{{item.text}}</span>
                                  </md-button>
                                  <div ng-if="item.type === 'toggle'">
                                      <div class="sidenavAllTopics" ng-if="showingTopics">
                                          <div class="sidenavTopic" ng-repeat="topic in getTopics()">
                                              <md-checkbox ng-model="topic.checked" ng-change="topicsChanged(topic.topic)">
                                                  {{topic.topic}}
                                              </md-checkbox>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <md-divider></md-divider>
                          </div>
                      </div>
                  </md-sidenav>
              </div>

              <div flex ng-class="shouldBeLockedOpen ? 'rightOfSidenav leftPadding' : 'rightOfSidenav noLeftPadding'">                  
                  <div id="viewContainer" class="md-padding container">
                      <div ng-view=""></div>
                      <x-account-menu />
                  </div>

                  <div class="footer">
                      <div class="container">
                          <p>Kanshu all rights reserved &copy 2015</p>
                      </div>
                  </div>
              </div>
          </section>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
      <script src="scripts/controllers/account.js"></script>
        <script src="scripts/services/articlesFeedService.js"></script>
        <script src="scripts/controllers/articlesFeed.js"></script>
        <script src="scripts/controllers/article.js"></script>
        <script src="scripts/controllers/signup.js"></script>
        <script src="scripts/controllers/signupDialog.js"></script>
        <script src="scripts/directives/phrase.js"></script>
        <script src="scripts/directives/dictionarypopover.js"></script>
        <script src="scripts/directives/accountmenu.js"></script>
        <script src="scripts/directives/articleslider.js"></script>
        <script src="scripts/controllers/leftSidenav.js"></script>
        <script src="scripts/services/user.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/services/topics.js"></script>
        <script src="scripts/directives/articlecomment.js"></script>
        <!-- endbuild -->
</body>
</html>
