<md-dialog class="selectedArticle" aria-label="article">
    <div class="articleImageAndContent">
        <div class="imageWrapper">
            <img src="http://lorempixel.com/400/400"></img>
        </div>
        <div class="articleCardContent articleCardContentItemSelected">
            <h2>{{item.content.substring(0,40)}}</h2>
            <p>{{item.content}}.. <a href="/#/article">Read more</a></p>
            <div class="articleCardFade"></div>
        </div>
    </div>
    <md-content>
        <div class="articleComments" style="height: 100px">
            <md-divider></md-divider>
            <div ng-repeat="comment in item.comments">
                <article-comment comment="comment"></article-comment>
                <div class="articleCommentClear"></div>
                <md-divider></md-divider>
            </div>
            <md-divider ng-if="items.comments.length == 0"></md-divider>

        </div>
    </md-content>
    
    <div class="articleCardFooter">
        <i ng-class="item.hearts > 0 ? 'fa fa-heart' : 'fa fa-heart-o'"></i>
        <span class="hearts">{{item.hearts}}</span>
        <span class="right">
            <span class="feed">China Daily</span>
            <span class="time">4:30pm</span>
        </span>
    </div>          

</md-dialog>