<div infinite-scroll="feed.getArticles()" infinite-scroll-distance="2" class="articlesFeed">
	<md-card class="articleCard" ng-repeat="item in feed.articles">
		<img src="http://lorempixel.com/400/200"></img>
		<md-card-content class="articleCardContent">
			<h2>{{item.content.substring(0,40)}}</h2>
			<p>{{item.content}}.. <a href="/#/article">Read more</a></p>
		</md-card-content>
			<div class="articleCardFade">
				<div class="articleCardFooter">
					<i ng-class="item.hearts > 0 ? 'fa fa-heart' : 'fa fa-heart-o'"></i>
					<span class="hearts">{{item.hearts}}</span>
	                <span class="comments">{{item.comments}} comments</span>
					<span class="right">
						<span class="feed">China Daily</span>
						<span class="time">4:30pm</span>
					</span>
				</div>
			</div>		
	</md-card>
</div>