<md-dialog flex="25" id="loginDialog"> 
    <md-content style="background: transparent">
        <section layout="vertical" layout-sm="horizontal" layout-align="center center">
          <img style="margin: auto; max-width: 100%" src="images/kanshu_about_colors.png">
        </section>
        <md-input-container>
            <label>Email</label>
            <input ng-model="user.email" class="dialog-close" style="background-color: white"></input>
        </md-input-container>
        <md-input-container>
            <label>Password</label>
            <input ng-model="user.password" style="background-color: white"></input>
        </md-input-container>
    </md-content>
    <div class="md-actions">
        <md-button class="md-raised md-primary" type="submit" ng-click="submit()" id="loginBtn">Login</md-button>
    </div>
</md-dialog>
